@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-cinzel: "Cinzel", serif;
  --font-lexend: "Lexend", sans-serif;
}

::selection {
  background-color: #d4e8a4;
  color: #1a241c;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a241c;
}

::-webkit-scrollbar-thumb {
  background: #3e5443;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8fa88e;
}
